$pastel-white: #f5ecdd;
$pastel-red: #A18FA3;
$pastel-yellow: #EED5AC;
$pastel-blue: #92A0AF;
$pastel-green: #C4C898;
$pastel-gray: #4D586B;

$body-bg: $pastel-white;

@import "../node_modules/bootstrap/scss/bootstrap";