$dark-foreground: #555555;
$light-foreground: #eeeeee;
$link-foreground: #0E9BC7;
$accent1-foreground: #BD8F13;
$accent2-foreground: #01A181;
$background: #ffffff;
$dark-background: #444444;

/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); 
  transform: translateY(-50%);
}

/** Imports **/
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}