@import 'mixins';

$skills-green:#194b19;
$skills-yellow: #b76c1d;
$skills-red: #a22c23;

.skill-container {
  display:flex;
  margin-bottom: 15px;
  line-height: 26px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 600;

  .skill-box-full {
    background-color: $skills-green;
    border: 1px solid white;
    border-right: none;
    padding-left: 10px;
    color: #ffffff;
  }
  .skill-box-20 {
    @extend .skill-box-full;
    background-color: $skills-red;
    width: 20%;
  }
  .skill-box-40 {
    @extend .skill-box-full;
    background-color: $skills-yellow;
    width: 40%;
  }
  .skill-box-50 {
    @extend .skill-box-full;
    background-color: $skills-yellow;
    width: 50%; 
  }
  .skill-box-60 {
    @extend .skill-box-full;
    background-color: $skills-yellow;
    width: 60%; 
  }    
  .skill-box-70 {
    @extend .skill-box-full;
    width: 70%; 
  }      
  .skill-box-80 {
    @extend .skill-box-full;
    width: 80%;
  }  
  .skill-box-90 {
    @extend .skill-box-full;
    width: 90%;
  }

  .skill-box-empty {
    flex-grow: 1;    
    border: 1px solid white;
    border-left: none;
  }
}