@import url("https://fonts.googleapis.com/css?family=Exo:300|Playfair+Display|Yantramanav:300");
.no-padding {
  padding-left: 0px;
  padding-right: 0px; }

.image-bordered {
  border: 2px solid #4D586B;
  margin-bottom: 9px; }
  .image-bordered:hover {
    box-shadow: 2px 4px 3px #4D586B; }

ul {
  list-style: none; }
