/* Mixin */
/** Imports **/
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

#timeline {
  margin: 0;
  padding: 0;
  overflow: auto; }
  #timeline .item-container {
    border: 2px solid black;
    border-radius: 25px;
    /**background: #4444FF;**/
    color: black;
    max-width: 65%;
    overflow: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    padding-top: 1px; }
    #timeline .item-container h4 {
      margin: 0; }
    #timeline .item-container .item-image {
      height: auto;
      max-width: 40%;
      float: left; }
    #timeline .item-container .item-description {
      padding: 0px;
      margin-left: 5px; }
  #timeline .left {
    float: left; }
  #timeline .right {
    float: right; }
